@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.heroContent{
    width: 50%;
    font-family: "Roboto", sans-serif;
    color: #FDFCFE;
    font-size:large;
    margin: 0 10rem 0 10rem;
}

.heroContent h1{
    margin-bottom: 4rem;
}

.heroText{
    color: #FFC01F;
}

.heroIcon{
    font-size: large;
    cursor: pointer;
}

@media screen and (max-width: 940px){

    .heroContent{
        margin: 0 5rem 0 5rem;
        width: 60%;
    }

}

@media screen and (max-width: 620px){

    .heroContent{
        margin: 0 2rem 0 2rem;
        width: 85%;
    }

    .heroContent h1{
        margin-bottom: 2rem;
    }

}